<h1 class="text-center">Edit Ticket</h1>

<%= render "form", ticket: @ticket %>

<div class="container my-4 d-flex justify-content-center">
  <div class="mx-2">
    <%= link_to "Back to Tickets", tickets_path, class: "btn btn-primary" %>
  </div>
</div>
