<h1 class="text-center">New Ticket</h1>

<%= render "form", ticket: @ticket %>

<div class="container my-4 d-flex justify-content-center">
  <%= link_to "Back to Tickets", tickets_path, class: "btn btn-primary" %>
</div>
