<h1 class="text-center my-4">Ejemplo de página</h1>

<div class="container">
  <div class="card mb-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card Title</h5>
      <p class="card-text">Ejemplo Bootstrap card Text</p>
      <a href="#" class="btn btn-primary">Fiummm</a>
    </div>
  </div>

  <form>
    <div class="mb-3">
      <label for="emailinput" class="form-label">Email</label>
      <input type="email" class="form-control" id="emailinput" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Email aqui</div>
    </div>
    <div class="mb-3">
      <label for="exampleInput" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInput">
    </div>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>
